/* .navBar{
    background-color: rgb(17, 151, 196);
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0ch;
} */
/* .mTitle{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
} */
/* .navBar{
    color: black;
    text-decoration: none;
} */
/* .offSite{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
} */

/* .right{
    text-decoration: dotted;
    margin:auto;
    color: black;
    margin-right: 10px;
    font-size: 20px;
} */

/* .navbar{
    font-size: 17px;
}

.nav-link{
    margin-left: 10px;
    color:saddlebrown;
    
}

.link-item{
    margin-right: 10px;
    color:white;
    font-size:large;
} */


/* .content{
    display: flex;
}

.questions{
    margin: 30px;
    width: 55%;
    height: max-content;
}

.qs{
    margin: auto;
    width: 90%;
    height: 170px;
    border: 1px solid black;
}

.compose{
    margin: 20px;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    box-shadow: 5px 5px #918f8f;
}
.compose input{
    width: 70%;
}

.header{
    font-size: 15px;
    display: inline;
    margin-right: 30%;
}

.question-tab{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.footer{
    display: inline;
    margin-left: 10px;
    
} */

/* .questions{
    float:left;
    max-width:5000px;
    overflow-y: auto;
    max-height: 550px;
} */

/* .custom-btn{
    position: relative;
    bottom: 10px;
    margin-left: 5px;
}

.questions{
    width: 55%;
    margin-left: 30%;
    
}


.details{
     display: flex;
     margin-right: 40px; 
    margin-left: 2px;
    font-size: 22px;
    margin-top: 20px; 

}


.directed-to{
   position: relative;
   text-decoration: underline;
   top: 18px;
   margin-right: 10px;
}

.preference{
    position: relative;
    top: 18px;
}


.asked{
    text-decoration: underline;
}

.date{
    margin-left: 8px;
}

.tags{
   text-decoration: underline; 
}

.tag-name{
    margin-left: 10px;
}

.question{
    font-size: 27px;
    margin-top: 5px;
}


.far{
    margin-right: 10px;
}

.view-btn{
    margin-left: 50px;
}


 /* .fas{
    margin-left: 20px;
}  */

/* .btn{
    background-color: rgb(97, 97, 235);
   margin-top: 10px;
   margin-right: 15px;
   border: 1px black solid;
   border-radius: 6px;
}

.question-type{
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 20px;
   
}

#latest{
    display: inline-block;
    margin-right: 100px;
    color: grey;
    font-size: 26px; 
    margin-left: 10px;
}

#most-viewed{
    display: inline-block;
    color: grey;
    font-size: 26px; 
}


.custom-button{
    margin-left: 20px;
}

.nav-items{
    color:darkolivegreen;
}

.question-text{
    width: 70%;
    height:50px;
    font-size:14pt;
    margin-top: 30px;
}


#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: 800px;
    height: 540px;
    background-color: white;
    max-width: 80%;
    
}

.model-body{
    margin-top: 6px;
    margin-bottom: 9px;
}

#modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.tips{
    border: 1px solid lightseagreen;
    border-width: thin;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.tip{
    color:#2e69ff;
}

.tips-text{
    color:#2e69ff;
    margin-left: 20px;
    text-decoration: underline;
}

.ask-tags{
    display:flex;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 20px;
    font-size: medium;
}

.your-answer{
    width: 25%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border: .5px solid black;
    border-radius: 5px;;
}

.enter-answer{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

.answer-entered{
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: white;
  background-color: #eee;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.enter-button{
    margin-top: 20px;
    margin-left: 40%;
    
}

.title{
    margin-left: 40%;
    margin-top: 10px;
    color:#2e69ff;
}


.header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid black;
}

.header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transform: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;    
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}  */


.cardQ{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card{
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.debateItem{
    /* background-image: url('../images/fire-8129.png'); */
    background-size: 80% 20px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 5px;
    font-size: large;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* this is debate css */
.homebody{
  background-image: url("/images/y-so-serious-white.png");
}

.debody{
    
    background-image: url("/images/bms-image.jpg");
    background-size: cover;
    
}

#modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 750px;
  height: max-content;
  background-color: white;
  max-width: 80%;
}

#modal.active{
  transform: translate(-50%,-50%) scale(1);
}

.tips{
  border: 1px solid lightseagreen;
  background-color:#BDB76B;
  padding-bottom: 10px;
}

.tip{
  color:darkcyan;
}

.tips-text{
  color:darkred;
  margin-left: 20px;
}

.ask-tags{
  margin-left: 5px;
  margin-top: 4px;
  font-size: 20px;
}


.header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid black;
}

.header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  transform: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;    
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}



